# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# IDE files
.vscode/
.idea/

#Package file
package-lock.json

#session
session
.vercel

#hostFile
talkdrove.json

#GitHub
.github/